# Arquivos e diretórios a serem ignorados pelo Git

# Arquivos temporários
*~

# Arquivos de compilação
*.o
*.out

# Diretórios de dependências
node_modules/
bower_components/

# Arquivos de log
logs/
*.log

# Arquivos de build
build/
dist/
*.exe
*.msi
*.zip

# Arquivos de configuração
*.config
*.conf
.env

# Arquivos de usuário específicos
.DS_Store
Thumbs.db

# Dependendo do seu projeto, você pode precisar adicionar mais regras ao .gitignore.
# Por exemplo, para projetos específicos de linguagem de programação, framework, IDE, etc.
